.login-layout {
    display: flex;
    justify-content: space-between;
}
.login-layout title{
    font-size: 3rem;
    justify-content: center;
}

.login-layout img{
    width:100%;
    position:absolute;
    z-index: -1;
}