/* @font-face {
    font-family: 'MyFont';
    src:  url('./my-font.woff2') format('woff2'),
          url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
 
   .hello {
     color: red;
    font-family: 'MyFont';
     background: url('./hero1.svg');
   } */
   body {
     margin: 0px;
   }
   

    
    .home-catelogue {
      margin:0;
      display: flex;
      flex-direction: column;
      background-color:#364559;
      color: whitesmoke;
      align-items: center;
      justify-content: center;
    }

    .home-catelogue .title {
      top: 1rem;
      position: relative;
      width: max-content;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
    }

    .home-catelogue button {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      position: relative;
    }
    .catelogue-button {
      margin:0;
      padding: 2rem 0rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .catelogue-button div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      // width: 50px;
    }

    .catelogue-button img {
      box-sizing: border-box;
      border-color: whitesmoke;
      padding: 0.8rem 0.5rem;
      border-width: 2rem;
      border-radius: 10%;
      // box-shadow: 0 0.1rem 0.2rem 0 whitesmoke, 0 0.1px 0.2px 0 whitesmoke;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
    }

    .catelogue-button button {
      align-items: center;
      justify-content: center;
      border-radius: 20rem;
      width: 50%;
      height: auto;
      font-size: 16px;
    }
/*:not(:disabled):hover*/
.catelogue-button button .active {
  background-color:#F2C4D0;
  border-bottom-color: #0058a3;
  cursor: default;
}
    .home-ideas .title{
      font-size: 2rem;
    }

    .home-ideas .text{
      width:60%;
      text-align: justify;

    }
    /* searchbar CSS */
    /* * {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    :root {
        font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    }
    body, button, input {
        font: 1em Hind, sans-serif;
        line-height: 1.5em;
    }
    body, input {
        color: #171717;
    }
    body, .search-bar {
        display: flex;
    }
    body {
        background: #f1f1f1;
        height: 100vh;
    }
    .search-bar input,
    .search-btn, 
    .search-btn:before, 
    .search-btn:after {
        transition: all 0.25s ease-out;
    }
    .search-bar input,
    .search-btn {
        width: 3em;
        height: 3em;
    }
    .search-bar input:invalid:not(:focus),
    .search-btn {
        cursor: pointer;
    }
    .search-bar,
    .search-bar input:focus,
    .search-bar input:valid  {
        width: 100%;
    }
    .search-bar input:focus,
    .search-bar input:not(:focus) + .search-btn:focus {
        outline: transparent;
    }
    .search-bar {
      width: 400px;
        margin: auto;
        padding: 1.5em;
        justify-content: center;
        /* max-width: 30em; */
    /* }
    .search-bar input {
        background: transparent;
        border-radius: 1.5em;
        box-shadow: 0 0 0 0.4em #171717 inset;
        padding: 0.75em;
        transform: translate(0.5em,0.5em) scale(0.5);
        transform-origin: 100% 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .search-bar input::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #fff;
        border-radius: 0.375em 0 0 0.375em;
        box-shadow: 0 0 0 0.1em #d9d9d9 inset;
        transform: scale(1);
    }
    .search-btn {
        background: #171717;
        border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
        padding: 0.75em;
        position: relative;
        transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
        transform-origin: 0 50%;
    }
    .search-btn:before, 
    .search-btn:after {
        content: "";
        display: block;
        opacity: 0;
        position: absolute;
    }
    .search-btn:before {
        border-radius: 50%;
        box-shadow: 0 0 0 0.2em #f1f1f1 inset;
        top: 0.75em;
        left: 0.75em;
        width: 1.2em;
        height: 1.2em;
    }
    .search-btn:after {
        background: #f1f1f1;
        border-radius: 0 0.25em 0.25em 0;
        top: 51%;
        left: 51%;
        width: 0.75em;
        height: 0.25em;
        transform: translate(0.2em,0) rotate(45deg);
        transform-origin: 0 50%;
    }
    .search-btn span {
        display: inline-block;
        overflow: hidden;
        width: 1px;
        height: 1px;
    }
    
    /* Active state */
    /* .search-bar input:focus + .search-btn,
    .search-bar input:valid + .search-btn {
        background: #2762f3;
        border-radius: 0 0.375em 0.375em 0;
        transform: scale(1);
    }
    .search-bar input:focus + .search-btn:before, 
    .search-bar input:focus + .search-btn:after,
    .search-bar input:valid + .search-btn:before, 
    .search-bar input:valid + .search-btn:after {
        opacity: 1;
    }
    .search-bar input:focus + .search-btn:hover,
    .search-bar input:valid + .search-btn:hover,
    .search-bar input:valid:not(:focus) + .search-btn:focus {
        background: #0c48db;
    }
    .search-bar input:focus + .search-btn:active,
    .search-bar input:valid + .search-btn:active {
        transform: translateY(1px);
    }
    
    @media screen and (prefers-color-scheme: dark) {
        body, input {
            color: #f1f1f1;
        }
        body {
            background: #171717;
        }
        .search-bar input {
            box-shadow: 0 0 0 0.4em #f1f1f1 inset;
        }
        .search-bar input:focus,
        .search-bar input:valid {
            background: #3d3d3d;
            box-shadow: 0 0 0 0.1em #3d3d3d inset;
        }
        .search-btn {
            background: #f1f1f1;
        }
    } 
    
    /* search bar */
    
    /* Vars  */
    /* .searchbar {
    
    :root {
      --rad: .7rem;
      --dur: .3s;
      --color-dark: #2f2f2f;
      --color-light: #fff;
      --color-brand: #57bd84;
      --font-fam: 'Lato', sans-serif;
      --height: 5rem;
      --btn-width: 6rem;
      --bez: cubic-bezier(0, 0, 0.43, 1.49);
    }
    
    // Setup
    body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh }
    html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }
    
    // Main styles
    form {
      position: relative;
      width: 30rem;
      background: var(--color-brand);
      border-radius: var(--rad);
    }
    input, button {
      height: var(--height);
      font-family: var(--font-fam);
      border: 0;
      color: var(--color-dark);
      font-size: 1.8rem;
    }
    input[type="search"] {
      outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
      width: 100%;
      background: var(--color-light);
      padding: 0 1.6rem;
      border-radius: var(--rad);
      appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
      transition: all var(--dur) var(--bez);
      transition-property: width, border-radius;
      z-index: 1;
      position: relative;
    }
    button {
      display: none; // prevent being able to tab to it
      position: absolute;
      top: 0;
      right: 0;
      width: var(--btn-width);
      font-weight: bold;
      background: var(--color-brand);
      border-radius: 0 var(--rad) var(--rad) 0;
    }
    input:not(:placeholder-shown) {
      border-radius: var(--rad) 0 0 var(--rad);
      width: calc(100% - var(--btn-width));
      + button {
        display: block;
      }
    }
    label {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
    } */
    


 